<%- include("partials/header.ejs") %>
   


<div class="section1">
    <% if(notes){ %>
    <% for (i in notes ){ %>
        <div class="note">
            <form  action="/delete" method="post" class="dltform">
                <input type="hidden" value=<%=notes[i]._id %> name= "deleteId">
                <button type="submit"  class="closebtn button-81 btn"><i class="ri-close-fill"></i></button>
            </form>
            <h1><em><%= notes[i].heading %></em></h1>
            <p><%= notes[i].note %></p>
        </div>
    <% }} %>
   
        


    <div class="note new">
        <form action="<%= link %>" method="post">
            <input type="text" placeholder="Heading" name="title">
            <br>
            <!-- <input type="text" placeholder="Content" name="para" size="100"> -->
            <textarea name="para" id="" cols="22" rows="5" placeholder="Content"></textarea>
            <br>
            <button type="submit" class="button-81">Add</button>    
        </form>
    </div>
</div>



<%- include("partials/footer.ejs") %>