<%- include("partials/header.ejs") %>
   


<div class="section1">
    <div class=" ">
        <form action="<%= link %>" method="post" class="new">
            <input type="text" placeholder="Heading" name="title" >
            <br>
            <!-- <div contenteditable="true" role="textbox" name="para" style="background-color: white;"></div> -->
            
            <input type="text" name="para"id="" placeholder="Take a note...." >
            <br>
            <button type="submit" class="button-81">Add</button>    
        </form>
    </div>
</div>

<div class="section2">
    
    <% if(notes){ %>
    <% for (i in notes ){ %>
        <div class="note">
            <form  action="/delete" method="post" class="dltform">
                <input type="hidden" value=<%=notes[i]._id %> name= "deleteId">
                <button type="submit"  class="closebtn button-81 btn"><i class="ri-close-fill"></i></button>
            </form>
            <h3><em><%= notes[i].heading %></em></h3>
            <p><%= notes[i].note %></p>
        </div>
    <% }} %>
   
        


    
</div>



<%- include("partials/footer.ejs") %>